# Stacks API endpoint (optional override)
NEXT_PUBLIC_API_BASE=https://api.mainnet.hiro.so

# Contract address
NEXT_PUBLIC_CONTRACT_ADDRESS=SP1Q7YR67R6WGP28NXDJD1WZ11REPAAXRJJ3V6RKM
NEXT_PUBLIC_CONTRACT_NAME=dice-roll
